@using EntityLayer.Concrete
@model List<ContactInfo>
 <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>İletişim</h6>
                            <h2>Buradan Rezervasyon Yapabilir veya Bizlerle iletişime Geçebilirsiniz</h2>
                        </div>
        
                        <div class="row">
                            <div class="col-lg-6">
                                @foreach (var item in Model)
                {
                    
                
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Telefon</h4>
                                    <span><a href="#">@item.Phone</a></span>
                                </div>
                }
                            </div>
            @foreach (var item in Model){
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Mail</h4>
                                    <span><a href="#">@item.Email</a></span>
                                </div>
                                
                            </div>
                            }
                        </div>
                        
                    </div>
                </div>