
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="~/templatemo_558_klassy_cafe/assets/images/klassy-logo.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>

                        <li class="scroll-to-section"><a href="#about">Hakkımızda</a></li>
           
                        <li class="scroll-to-section"><a href="#menu">Menümüz</a></li>

                        <li class="scroll-to-section"><a href="#chefs">Şeflerimiz</a></li>
                        <li class="submenu">  
                        <li class="scroll-to-section"><a href="#reservation">Rezarvasyon Yap</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>