@using EntityLayer.Concrete
@model List<MenuItem>


@{
    Layout = null;
}

<div class="col-lg-8">
    <div class="main-banner header-text">
        <div class="Modern-Slider">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="img-fill">
                        <img src="@item.ImageUrl" alt="">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
       @foreach (var item in Model)
        {
            
        
            <div class="carousel-item active">
                <img asp-append-version src= class="d-block w-100" alt="...">
            </div>
        }
        
       @* <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>*@
    
